h2 {
  margin: 8px;
  text-align: center
}

.noOfPlayers {
  margin: 0px 8px;
  display: block;
}

.noOfTeams {
  margin: 0px 8px;
  display: block;
}

button {
  margin: 8px;
}

.playersList{
  margin: 0px 8px;
  display: block;
}

.playersResult{
  margin: 0px 8px;
  
}

.player{
  width: 10px;
  height: 10px;
}
