  <h2 >Players</h2>
<div class="playersList">

  <ol>
    <li *ngFor="let player of playersAndSelection">
      <mat-checkbox (change)="onPlayerSelectionChanged(player,$event.checked)" [checked]="player[0]">{{ player[1].name }} ({{ player[1].nickName }})</mat-checkbox>
    </li>
  </ol>

  <input matInput class="noOfTeams" type="number" placeholder="Value" [(ngModel)]="noOfTeams">

  <mat-checkbox class="noOfTeams" (change)="isCtf($event.checked)">CTF Mode</mat-checkbox>
  <mat-checkbox class="noOfTeams" (change)="selectAll($event.checked)">Select All</mat-checkbox>

  <span class="mat-h3 noOfPlayers">Selected Players: {{ noOfSelectedPlayers }}</span>
  
  
  
  <button mat-stroked-button aria-label="Add player" color="primary">Add Player</button>
  <button mat-raised-button aria-label="Randomise" color="primary" (click)="shuffleAndDivide()">Randomise</button>
  

</div>
<div class="playersResult">
  <ol>
    <li *ngFor="let team of randomTeams; let i=index">
      <ul>
        <li *ngFor="let player of team[1]"[style.color]="team[0]" >
          {{ player.name }} ({{ player.nickName }})
        </li>
      </ul>
    </li>
  </ol>
</div>