h2 {
  margin: 8px;
  text-align: center
}

.noOfPlayers {
  margin: 0px 8px;
  display: block;
}

.noOfTeams {
  margin: 0px 8px;
  display: block;
}

button {
  margin: 8px;
}

.playersList{
  margin: 10px 10px;
  float: left;
  border: 0.5px solid red;
}

.playersResult{
  margin: 10px 10px;
  float: left;
  padding: 5px;
  border: 0.5px solid blue;
  
}

.player{
  width: 10px;
  height: 10px;
}
